<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <style>
    
    body {
        text-align: center;
        margin: 2rem;
    }

    label {
    display: inline-block;
    width: 100px;
    text-align: right;
    }
    
    </style>

    <h1>Wacky Widgets</h1>
    {% if widget_list|length == 0 %}
    <h3>No Widgets Exist</h3>
    {% else %}

    {% endif %}
    <hr>
    <h4>Add Widget</h4>
    <form class='pure-form' method='post' action="{% url 'add_widget' %}">
        {% csrf_token %}
        <label for="description">Description:</label>
        <input type="text" name="description"></input>
        <br>
        <label for="quantity">Quantity:</label>
        <input type="text" name="quantity"></input>
        <br>
        <button class='pure-button'>Submit</button>
    </form>

</body>
</html>